<script id="notice" type="text/x-handlebars-template">

<div class="drinkUp drinkUp-notice">
	<div class="drinkUp-title">
		<div class="drinkUp-drink">Would you like a {{drinkName}} ?</div>
		Countdown <span drinkUp-action="countdown">10</span>
	</div>
	

	<a href="#" drinkUp-action="iWantDrink" class="drinkUp-button">Heck Yes!</a>
	<a href="#" drinkUp-action="noDrink" class="drinkUp-button">No Thanks</a>
	<a href="#" drinkUp-action="buggerOff" class="drinkUp-button">Dont notify me again</a>
</div>

</script>


test